<!DOCTYPE html>
<html>
<head>
  <title>RoboRead</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>RoboRead</h1>
    <p>Click the robot for a book suggestion!</p>
  </div>

  <%= yield %>
</div>

</body>
</html>
